<form action="/signup" method="POST">
  <p>Fill the form to become part of team</p>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input
      name="username"
      type="text"
      id="form2Example1"
      class="form-control"
    />
    <label class="form-label" for="username">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input
      name="password"
      type="password"
      id="form2Example2"
      class="form-control"
    />
    <label class="form-label" for="password">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">

    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Already a member? <a href="./login">Login</a></p>
  </div>
</form>
